.index-header{
  background-image: url("../images/yard.jpg");
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
}

/* .index-header{
  background-image: linear-gradient(to bottom right, #e60000, #990000);
  height: 450px;
  width: 100%;
}

.navbar-text{
  color: white;
} */
