html, body{
  height: 100%;
  scroll-behavior: smooth;
  background-color: #E8E8E8;
}
.index-header{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/yard.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-text{
  color: white;
  text-align: center;
  padding-top: 300px;
  font-size: 50px;
  text-shadow: 3px 3px 5px black;
}
.navbar{
  background-color: #333333;
}
.nav-font-style a, p{
  color: #F6F6F6;
  font-size: 22px;
  width: 60%;
  letter-spacing: 2px;
}
.nav-font-style a:hover{
  text-decoration: underline;
}
.sub-header-text{
  color: #F6F6F6;
  font-size: 22px;
  text-align: center;
  text-shadow: 3px 3px 5px black;
}
.company-images{
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px 8px black;
}
.company-types{
  color: #F6F6F6;
}
.company-types-separator{
  border: 1px solid white;
  width: 60%;
}
.loc-page{
  background-color: #333333;
}
.loc-header{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/yard.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: auto;
}
.loc-body{
  background-color: #E8E8E8;
}
.loc-body p1{
  font-size: 35px;
  color: #990100;
  font-weight: bold;
}
.loc-body p3{
  font-size: 20px;
  color: #990100;
  font-weight: bold;
  letter-spacing: 1px;
}
.facebook{
  font-size: 40px;
}
.row-margin{
  margin-top: 20px;
}
ul li{
  font-weight: bold;
  font-size: 20px;
}
form input{
  font-size: 20px;
  color: #333333;
  margin: 5px;
  text-align: left;
}
.col-centered{
   float: none;
   margin: 0 auto;
}
.carousel-item img{
  height: 360px; 
  width: 460px;
}
#about-us{
  font-size: 20px;
}
#company-container{
  background-image: linear-gradient(#404040, #8c8c8c);
}
#company-container h3{
  color: #F6F6F6;
}
#metal-brand{
  font-size: 30px;
}
#loc-text{
  font-size: 60px;
  color: #F6F6F6;
  position: relative;
  text-align: center;
  padding-top: 10%;
}
#loc-sub-text{
  font-size: 25px;
  color: #E8E8E8;
  text-align: center;
}
